.ComboBox{
    position: relative;
    /*background: linear-gradient(#444444, #5e5e5e);*/
    border-radius: 3px;
    padding-right: 20px;
}

.ComboBox select{
    background: linear-gradient(#313131, #535252);
    color: #fff;
    padding: 10px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
    outline: none;
    
}

option{
    background: #2f2f2f;

}

option:hover{
    background: #0c0c0c;

}

.ComboBox select:hover{

background: #585858;

}


